
████ ████████ ██████████  Void \e[1m\s\e[0m \e[1m\r\e[0m auf \e[1m\l\e[0m@\e[1m\n\e[0m (\e[1m\b Bd\e[0m)
▀▀▀▀ ████     ████  ████
████ ████     ████  ████  Herzlich willkommen! Ich sehe \e[1m\u\e[0mbenutzer hier.
████ ████     ▀▀██  ████
████ ███████ \e[1;34m██\e[0m ████████  ic.o ist seit 2018 eine allgemeine Holding für
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄  IC  Root  Node,  seine  Niederlassungen  und
\e[7m - ic.o  /  root node - \e[0m  ehemaligen Vor-IRN-Abteilungen.
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀














































\e[2m────────────────────────────────────────────────────────────────────────
Beachten Sie bitte!

Dieses Gerät und alle digitalen Ressourcen gemäß IRIS 4 (jedoch ohne die
Software  von  Drittanbietern)  sind,  sofern  nicht  anders  angegeben,
Eigentum der IC Root Node (ic.o) und ihrer Inhaber.
────────────────────────────────────────────────────────────────────────\e[0m

Sie sollten sich jetzt vorstellen ...
