/*
  Mozilla Services

  Hides annoying entries of Pocket and Sync services. I don't need them!
*/
#context-pocket,
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#screenshots_mozilla_org_create-screenshot {
  display: none;
}

#context-savelinktopocket,
#context-sendlinktodevice {
  display: none;
}

#appMenu-library-pocket-button,
#appMenu-library-remotetabs-button,
#appMenu-library-screenshots {
  display: none;
}

#pageAction-panel-pocket,
#pageAction-panel-sendToDevice,
#pageAction-panel-screenshots {
  display: none;
}

/*
  bspwm Fix

  Popups (context menus) on bspwm appears just under the cursor, which
  activates them at once. To prevent this, one should add the padding
  around each menu, 1-2 pixels will be ebough.
*/
menupopup {
  padding: 2px;
}
